* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
  color: antiquewhite;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

img {
  width: 100vw;
  height: 80vh;
}

.btn {
  border: 1px solid antiquewhite;
  border-radius: 8px;
  padding: 10px;
  margin-right: 10vw;
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-left: 25vw;
}
