* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
  color: antiquewhite;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgb(111, 109, 107);
}

.coverPic {
  width: 100vw;
  height: 80vh;
}

.btn {
  border: 1px solid antiquewhite;
  border-radius: 8px;
  padding: 10px;
  margin-right: 1vw;
  width: 6vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title {
  margin-left: 25vw;
}

.list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookList {
  margin: 10px;
  padding: 10px;
  border: 1px solid antiquewhite;
  border-radius: 8px;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

